body {
	background-color: lightgray !important;
}

.hidden {
	display: none;
}

.board {
	font-family: Arial;
	display: grid;
  grid-template-columns: repeat(8, 1fr);
	grid-auto-rows: 1fr;
}

/* some hack, so that the board height always equals board width */
.board::before {
    content: '';
    width: 0;
    padding-bottom: 100%;
    grid-row: 1 / 1;
    grid-column: 1 / 1;
}
.board > *:first-child{
    grid-row: 1 / 1;
    grid-column: 1 / 1;
}

.square {
	display: flex;
	align-items: center;
	justify-content: center;
	container-type: size;
}
.square.white {
	background: cornsilk;
}
.square.black {
	background: brown;
}
.square.black.alternate_color_scheme{
	background-color:	#8b4513;
}
.square.white.alternate_color_scheme {
	background-color: #d2b48c;
}

.selected {
	position: absolute;
	z-index: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(52, 61, 235, 0.7);
}

.square.checked {
	background: red !important;
}
.move_option {
	position: absolute;
	z-index: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(50, 168, 94, 0.7);
}

.coord {
	z-index: 1;
	font-size: 13cqh;
	font-weight: bold;
}
.coord.rank {
	/* position: absolute; */
	align-self: start;
	margin-left: 4cqh;
	margin-right: auto;
}
.coord.file {
	/* position: absolute; */
	align-self: end;
	margin-right: 4cqh;
	margin-left: auto;
}
.square.white .coord {
	color: brown;
}
.square.black .coord {
	color: cornsilk;
}

.piece {
	position: absolute;
	z-index: 1;
	font-size: 100cqh;
	user-select: none;
}

#info_panel {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: rgba(0, 0, 0, 0.2);
	font-family: Arial, Helvetica, sans-serif;
	user-select: none;
	padding: 0px;
	margin: 0px;
}
.player_panel {
	padding: 5px;
	margin: 5px;
}

#moves {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.move:hover {
	background-color: brown;
}

.buttons {
	display: flex;
	padding: 5px;
	margin: 5px;
}

.undo_redo {
	flex: 1;
	background-color: transparent;
	background-repeat: no-repeat;
	border: none;
	cursor: pointer;
	overflow: hidden;
	outline: none;
	font-size: 25px;
	/* font-weight: bold; */
}
.undo_redo:hover {
	background-color: brown;
}

#colorChangeBtn {
	flex: 3;
}

.player_panel.turn {
	background-color:rgba(0, 0, 0, 0.2);
}

