
.board {
	display: grid;
  grid-template-columns: repeat(8, 1fr);
	grid-auto-rows: 1fr;
}

/* some hack, so that the board height always equals board width */
.board::before {
    content: '';
    width: 0;
    padding-bottom: 100%;
    grid-row: 1 / 1;
    grid-column: 1 / 1;
}
.board > *:first-child{
    grid-row: 1 / 1;
    grid-column: 1 / 1;
}

.square {
	display: flex;
	align-items:center;
	justify-content:center;
	container-type: size;
}

.square_white {
	background: cornsilk;
}

.square_black {
	background: brown;
}

.piece {
	position: absolute;
	font-family: Arial;
	/* % of container’s (.square) height */
	font-size: 100cqh;
	/* text ist not selectable */
	user-select: none;
}

.coord_rank {
	align-self: start;
	margin-right: auto;
}
.coord_file {
	align-self: end;
	margin-left: auto;
}
