
.board {
	display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
	grid-auto-rows: 1fr;
	grid-auto-columns: 1fr;
}

.board::before {
    content: '';
    width: 0;
    padding-bottom: 100%;
    grid-row: 1 / 1;
    grid-column: 1 / 1;
}

.board > *:first-child{
    grid-row: 1 / 1;
    grid-column: 1 / 1;
}

.square {
	display: flex;
	align-items:center;
	justify-content:center;
}

.square_white {
	background: cornsilk;
}

.square_black {
	background: brown;
}

.square p {
	margin: 0;
	font-size: 3.5vw;
	font-family: Arial;
}
