@(squareStrList: List[String])

@main("Chessboard") {
<div class="container">
    <div class="board">
			@for(squareStr <- squareStrList) {
				<div class="square"><p>@squareStr</p></div>
			}
    </div>
    <div class="moveForm">
        <form id="myForm">
            <label for="from">From:</label>
            <input type="text" id="from" name="from" required><br><br>

            <label for="to">To:</label>
            <input type="text" id="to" name="to" required><br><br>

            <button type="button" id="submitButton">Make Move</button>
        </form>
    </div>
    <div class="">
        <button onclick="window.location.href='/play/undo'">Undo</button>
    </div>
    <div class="">
        <button onclick="window.location.href='/play/redo'">Redo</button>
    </div>
    <div class="newGame">
        <button onclick="window.location.href='/play/new'">New Game</button>
    </div>
</div>



<script>
    var form = document.getElementById("myForm");
    var button = document.getElementById("submitButton");

    button.addEventListener("click", function() {
        var fromValue = document.getElementById("from").value;
        var toValue = document.getElementById("to").value;

        var url = "/play/move/" + fromValue + "/" + toValue;

        window.location.href = url;
    });
</script>
}
